<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head :: head}"></head>

<body>
<div th:replace="~{fragments/hero :: hero}"></div>

<div class="booking-container container my-5">
    <div class="row g-4">
        <div th:replace="~{fragments/calendarCard :: calendarCard}"></div>
        <div class="col-12 col-lg-6">
            <div class="booking-card">

                <input type="hidden"
                       id="room-id"
                       th:value="${room.id}">

                <input type="hidden"
                       id="room-price"
                       th:value="${room.costPerNight}">
                <img id="room-image"
                     src="/images/single_room.png"
                     alt="Room image">
<!--                <img id="room-image"-->
<!--                     th:src="@{'/images/rooms/' + ${room.id} + '/1.jpg'}"-->
<!--                     alt="Room image">-->

                <h2 th:text="${room.roomType}">Room Type</h2>

                <p>
                    <strong>Price per night:</strong>
                    <span th:text="${room.costPerNight} + ' SEK'">0 SEK</span>
                </p>

                <p>
                    <strong>Room number:</strong>
                    <span th:text="${room.roomNumber}">101</span>
                </p>

                <div id="extra-bed-section"
                     th:if="${room.extraBedAvailable}">
                    <label>
                        <input type="checkbox" id="extra-bed">
                        Extra bed
                    </label>
                </div>

                <div id="guest-section" style="display:none;">
                    <label id = "guestlabel">Guests:</label>
                </div>

                <p>
                    <strong>Dates:</strong>
                    <span id="booking-dates">Not selected</span>
                </p>

                <p>
                    <strong>Total price:</strong>
                    <span id="booking-total">0 SEK</span>
                </p>

                <button class="book-btn"
                        id="book-button"
                        style="display:none;">
                    Book this room
                </button>

            </div>
        </div>

    </div>
</div>
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Booking confirmed</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col" id="modalBody">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a th:href="@{/home}" class="btn btn-primary">
                    Close
                </a>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script th:src="@{/js/booking.js}"></script>
</body>
</html>