<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hôtel de Ville</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=League+Script&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/tempStyle.css}">

</head>
<body>

<div class="hero">
    <div class="hero-content">
        <h1 class="header-title">Hôtel de Ville</h1>
        <p class="subtitle">Bed & Breakfast</p>
    </div>
</div>

<div class="calendar-wrapper mt-4">
    <input type="text" id="calendar" class="shadow-sm">
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
    flatpickr("#calendar", {
        mode: "range",
        minDate: "today",
        dateFormat: "Y-m-d",
        inline: true
    });
</script>
</body>
</html>