<head th:fragment="review-write">

<!--    <div class="review-card h-100">-->
<!--        <h2 class="text-center mb-4" style="font-family: 'Playfair Display', serif; color: #5f4b45;">Login-->
<!--        </h2>-->
<!--        <div th:if="${error}" class="alert alert-danger text-center" role="alert">-->
<!--            <p th:text="${error}" class="m-0"></p>-->
<!--        </div>-->
<!--        <form th:action="@{/post-review}" th:object="${review}" method="post">-->
<!--            <input type="hidden" name="bookingId" th:value="${param.bookingId}">-->
<!--            <div class="mb-3">-->
<!--                <label class="form-label" style="color: #a67b6b;font-size: 0.85rem;-->
<!--                                      text-transform: uppercase;letter-spacing: 0.1em;">Share your thoughts-->
<!--                </label>-->
<!--                <input type="text" class="form-control" th:field="*{comments}" placeholder="add a comment:"-->
<!--                       required>-->
<!--            </div>-->

<!--            <button type="submit" class="comment-btn">Log in</button>-->
<!--        </form>-->
<!--    </div>-->


</head>